
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">
            <span style="font-size:30px; cursor:pointer" onclick="openNav()">&#9776; Menu</span> 
          </a>

    </div>
   
    <div class="red" id="ohmy">
           
    </div>
  
  <div id="mySidenav" class="sidenav">
      <h3 style="color: white;"> <img float="right" src="https://mbtskoudsalg.com/images/award-transparent-real-5.png" alt="" height="150px"> Awards</h3>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &times;</a>
      
        <hr>
        <a href="/">Home</a>
        <a href="#">Login</a>
        <a href="#">Submit your site</a>
        <a href="#">Contact</a>
      </div>
      
 
  <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "0px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
            document.body.style.backgroundColor = "white";
        }
    </script>
</nav>  